:root{
    --verde-principal: #059669;
    --verde-secundario: #34D399;
    --negro: #111827;
    --verde-claro: #D1FAE5;
}


.navbar-custom {
            background-color: #059669;
            min-height: 100px;
        }

        .navbar-custom .nav-link {
            color: white;
            transition: background-color 0.5s ease;
            padding: 14px 16px;
        }

        .navbar-custom .nav-link:hover {
            background-color: #34D399;
            color: white;
        }


:root{
    --verde-principal: #059669;
    --verde-secundario: #34D399;
    --negro: #111827;
    --verde-claro: #D1FAE5;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: var(--verde-claro);
    color: var(--negro);
    padding-top: 120px;

}


h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem !important;
    color: #059669  !important;
    letter-spacing: 3px  !important ;
    margin-bottom: 10px  !important;
    font-weight: 600!important;
}
h2{
    font-family: 'Oswald', sans-serif;
    color: var(--negro);
    font-size: 2rem;
    margin-bottom: 15px;
}
p{
    font-size: 1.1rem;
    line-height: 1.8;
}
.contenido{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 50px;
    max-width: 1200px;
    margin: auto;
    
}
.contenido img{
    width: 500px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}
.Partidos{
    background-color: white;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border-left: 8px solid var(--verde-principal);
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}
.Partidos img{
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}
.card{
    border: 2px solid var(--verde-principal) !important;
    border-radius: 15px;
}

.container {
  padding: 50px;
}