:root {
    --verde-principal: #059669;
    --verde-secundario: #34D399;
    --negro: #111827;
    --verde-claro: #D1FAE5;
}
/* Configuración General */
body {
    font-family: 'Inter', sans-serif;
    background-color: var(--verde-claro);
    color: var(--negro);
    padding-top: 120px; /* Espacio para que la navbar fija no tape el contenido */
}
/* Tipografías */
h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem;
    color: var(--verde-principal);
    letter-spacing: 3px;
    font-weight: 600;
}
h2 {
    font-family: 'Oswald', sans-serif;
    color: var(--negro);
    font-size: 2rem;
}
h3 {
    font-family: 'Oswald', sans-serif;
    color: var(--verde-principal);
}
p {
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    line-height: 1.8;
}
/* Navbar Personalizada */
.navbar-custom {
            background-color: #059669;
            min-height: 100px;
        }

        .navbar-custom .nav-link {
            color: white;
            transition: background-color 0.5s ease;
            padding: 14px 16px;
        }

        .navbar-custom .nav-link:hover {
            background-color: #34D399;
            color: white;
        }
/* Imagen Informativa Principal */
.img-fluida-personalizada {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}
/* Tarjetas de Misión, Visión, Valores y Objetivos */
.tarjeta-deportiva {
    background-color: white;
    padding: 30px;
    border-left: 8px solid var(--verde-principal);
    border-radius: 10px;
}
/* Estilos Estéticos del Footer */
footer {
    background: var(--verde-principal);
    color: var(--verde-claro);
}
.brand-name {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}
.footer-heading {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #ffffff;
    margin-bottom: 0.75rem;
}
footer ul li {
    font-size: 13px;
    color: var(--verde-claro);
    margin-bottom: 4px;
}
.footer-link {
    color: var(--verde-claro);
    text-decoration: none;
    font-size: 13px;
}
.footer-link:hover {
    color: var(--negro);
}